@charset "UTF-8";

/**
    Fuentes
@font-face {
    font-family: ;
    src: url("");
}
*/


/**
    Reset styles
 */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    word-break: break-word
}

section > p {
    color: #ff3135;
}

span + span{
    background: #ff9c61;
}