@charset "UTF-8";

/**
    Fuentes
@font-face {
    font-family: ;
    src: url("");
}
*/


/**
    Reset styles
 */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    word-break: break-word
}

#element{
    background: #bb5e59;
    color: #fff;
    display: inline-block;
    padding: 20px;
}

.item{
    background: black;
    color: #fff;
    padding: 20px;
    display: inline-block;
    position: absolute;
}

.item--blue{
    background: #2867b5;
}

.item--green{
    background: #28b58e;
}